{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react",
    "react-native"
  ],
  "extends": [
    "airbnb"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-console": 0,
    "no-mixed-operators": 0,
    "no-underscore-dangle": 0,
    "max-len": ["warn", 120],
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.test.js", "**/*.stories.js"]}],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": [2, { "ignorePureComponents": true }],
    "generator-star-spacing": ["error", {"before": true, "after": false}]
  },
  "globals": {
    "__DEV__": true
  }
}