**/.idea/
src/
example/
android/build/
images/
*.iml
tsconfig.json
tslint.json
scripts/**/*.ts
scripts/tsconfig.json
/ios/vk-ios-sdk/
/ios/RNVkontakteLogin.xcodeproj/xcuserdata/
/ios/RNVkontakteLogin.xcodeproj/project.xcworkspace/
/docs/generated/
